?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.nwwsolutions.cordova.device" version="0.2.3">
    <name>BonjourPlugin</name>
    <description>Bonjour Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, bonjour</keywords>
    <js-module src="www/BonjourPlugin.js" name="BonjourPlugin">
        <clobbers target="BonjourPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BonjourPlugin">
                <param name="ios-package" value="BonjourPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BonjourPlugin.h" />
        <source-file src="src/ios/BonjourPlugin.m" />
    </platform>
</plugin>