<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.nwwsolutions.cordova.bonjour" version="0.2.15">
    <name>BonjourPlugin</name>
    <description>Bonjour Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, bonjour</keywords>
    <js-module src="www/BonjourPlugin.js" name="BonjourPlugin">
        <clobbers target="BonjourPlugin" />
    </js-module>
    <platform name="android">
      <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
            <uses-permission android:name="android.permission.INTERNET" />
			      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="BonjourPlugin">
          <param name="android-package" value="com.nwwsolutions.plugins.BonjourPlugin"/>
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <source-file src="src/android/libs/jmdns.jar" target-dir="libs" framework="true" />
      <source-file src="src/android/BonjourPlugin.java" target-dir="src/com/nwwsolutions/plugins" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BonjourPlugin">
                <param name="ios-package" value="BonjourPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BonjourPlugin.h" />
        <source-file src="src/ios/BonjourPlugin.m" />
    </platform>
</plugin>
